body{
  background-color: gray;
  
}

h1{
 
  
  text-align: center;
  margin: 15px;
  float: centre;
  text-shadow: seagreen;
  color: maroon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  border-radius:50px;
  border: 10px solid black;
  padding: 20px 20px 30px;
  width:100%;
 
  
  
}
 img{
   margin: 20px;
   width: 100%;
   border: 20px solid black;
   
   
  
 }
 
    
    
    
    
    
    
    
    
    
  
  div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
<<<<<<< HEAD
    border-radius:50px;
    border: 10px solid black;
    padding: 20px 20px 20px ;
    margin:15px;
    height: 160px;
    width: 100%;
=======
    border-radius:90px;
    width: 900px;
    border: 20px solid black;
    padding: 20px;
    margin:15px;
 
    height: 150px;
>>>>>>> 6c509b16b580853f083f7f13430fe70f52543cc8
    
    
    
    
    
  }
@media only screen and (min-width:1000px)
{
  







}