body{
  background-color: blueviolet;
  
}

h1{
 
 
  
  
  
  
}
 img{
   
   width:900px;
   
   margin: 15px;
   
 }

  div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    border: 20px solid black;
    width: 950px;
    padding: 10px;
    
  }
