body{
  background-color: gray;
  
}

h1{
 
  
  text-align: center;
  margin: 15px;
  float: centre;
  text-shadow: seagreen;
  color: maroon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  border-radius:90px;


  
  
  border: 20px solid black;
  padding: 20px;
  width: 900px;
  height: 150px
  
}
 img{
   margin: 20px;
   width: 900px;
   border: 20px solid black;
   padding: 20px;
   border-radius:90px
  
 }
 
    
    
    
    
    
    
    
    
    
  
  div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    border-radius:30px;
    width: 900px;
    border: 90px solid black;
    padding: 20px;
    margin:15px;
 
height: 150px;
    
    
    
    
    
  }

