body{
  background-color: lightseagreen
  
}

h1{
 
  border:30px solid black;
  text-align: center;
  margin: 15px;
  float: centre;
  text-shadow: seagreen;
  color: maroon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  border-color: maroon;
}
 img{
   margin: 20px;
   width:900px;
   border: 20px solid lightblue;
   padding: 20px;
 }
  button{
    color: red;
    background: moccasin;
    width: 920px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 30px;
    height: 109px;
    font-size: 50px;
  }
  div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    border: 20px solid black;
    padding: 20px;
    margin: 20px;    
    width:900px;
  }
