body{
  background-color: blueviolet;
  
}

h1{
 
  border: 20px 30px solid black;
  text-align: center;
  margin: 15px;

  text-shadow: seagreen;
  color: maroon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  border-color: maroon;
  width: 900px;
}
 
   
   
   
   
   
  div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    border: 20px solid black;
    width: 950px;
    
    
    
    
    
  }
