body{
  background-color: almond;
  
}

h1{
 
  
  text-align: center;
  margin: 15px;
  float: centre;
  text-shadow: seagreen;
  color: maroon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  border-radius:60px;

  width: 900px;
  
  
  border: 20px solid black;
  padding: 20px;
  width: 200px;
  height: 150px
  
}
 img{
   margin: 20px;
   width: 900px;
   
   
 }
 
    
    
    
    
    
    
    
    
    
  
  div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    border-radius:30px;
    width: 900px;
    border: 20px solid black;
  padding: 20px;
  
  height: 150px;
    
    
    
    
    
  }
