body{
  background-color: blueviolet;
  
}
h1{
  text-size:100px;
  text-align:centre;
  border: 5px solid maroon;
  

}

 
 
  
  
  
  

 img{
   
   width:900px;
   
   margin: 15px;
   
 }

  div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    border: 20px solid black;
    width: 950px;
    padding: 10px;
    
  }
